// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bulma
@import './node_modules/bulma/bulma.sass';

html {
    scroll-behavior: smooth;
    background-color: $black;

    a {
        color: inherit;
        text-decoration: none;
    }
}

body > div:nth-child(even) {
    background-color: $grey;
    color: $white;

    .edit {
        background-color: $primary;
        
        .edit-icon{

            color: $grey;
        }
    }

    .title {
        color: $primary;
    }

    .label {
        color: $primary;
    }
}

body > div:nth-child(odd) {
    background-color: $black;
    color: $white;

    .title {
        color: $primary;
    }

    .label {
        color: $primary;
    }
}

.has-bg-img { 
    background: url('/images/header.jpg')center left; 
    background-size:cover;

    .notification {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .body {
        margin-top: 15%;

        .title {
            color: $white;
        }
        .subtitle {
            color: $white;
        } 
    }

      .foot {
        text-align: center;

        .icon {
            font-size: 50px;
            color: $yellow;
        } 
        .icon:hover {
            color: $grey;
            cursor: pointer;
        } 
    }
}

.image{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-wrap {
    text-align: center;

    .button {
        width: 48%;
        margin-bottom: 5px;
    }
}

.edit {
    right: 0;
    background-color: $grey;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 50px;
    height: 37px;
    position: absolute;
    margin-top: 20px;
    z-index: 1;

    .edit-text {
        // visibility: hidden;
        display: none;
        overflow: hidden;
        white-space: nowrap;
        font-size: 20px;
    }

    .edit-icon {
        font-size: 25px;
        color: $yellow;
    }
}
.edit:hover {
    background-color: $yellow;
    width: 120px;

    .edit-text {
        display: inline;
    }

    .edit-icon {
        color: $grey;
        cursor: pointer;
    } 
}

.login-container {
    margin: 0; 
    position: absolute; 
    top: 50%; left: 50%; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%); 
    width: 100%;

    .columns {
        width: 100%;
    }

    .panel {
        max-width: 520px;
        width: 90%;
        margin: 0 auto;

        .panel-block {
            background-color: $grey;
            
            .label {
                color: $lightgrey;
            }
        }
    }
}

.form-container {
    margin-top: 3em;

    .panel-block {
        background-color: $grey;

        .label {
            color: $lightgrey;
        }

        .columns {
            width: 100%;
        }
    }

    .button-box {
        background-color: $grey;
    }
}

.table-container {
    width: 100%;

    table {
        width: 100%;
        
        .table-checkbox {
            text-align: center;
        }
        .edit-icon {
            color: $primary;
        }
        .delete-icon {
            color: $red;
        }
    }
}

.info-box {
    width: 100%;
    color: $lightgrey;
}

@media (max-width: 768px)
{
    .button-wrap .button {
        width: 100%;
    }
}

@media only screen and (max-width: 1215px){
    .parent{
        padding: 70px !important;
        position: relative !important;
    }

    .element {
        padding: 20px !important;
        position: absolute !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
      }
}

.footer {
    background-color: $black;

    .icon {
        font-size: 20px;
        margin-right: 15px;
    }
    
    .icon:hover {
        color: $primary;
    }

    a {
        color: inherit;
    }
}

.slider {
    max-width: 96vw;
    text-align: center;
    overflow: hidden;
    padding-top: 10vw;
    max-height: 720px;
    height: 100%; 
  }

  .glide {
  cursor: -webkit-grab;
}
.slider__arrow--prev {
    left: 1.5rem;

}
.fas {
  right: 5px;
    position: absolute;
    top: 6px;
}
.slider__arrow--next {
    right: 1.5rem;
}

.slider__arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 24px;
    height: 24px;
    margin-top: -9px;
   border-radius: 50%;
    background-color: #aeb0b3;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-box-shadow: 0 0.5rem 4rem 0 rgba(0,0,0,.5);
    box-shadow: 0 0.5rem 4rem 0 rgba(0,0,0,.5);
}
.slider__arrow--prev {
    left: 1.5rem;
}

.slider__frame {
    // border-radius: .16667em;
    // text-align: center;
    // height: 200px;
    // line-height: 150px;
    // -webkit-box-shadow: inset 0 0 0 2px hsla(0,0%,100%,.5);
    // box-shadow: inset 0 0 0 2px hsla(0,0%,100%,.5);
    // color: #fff;
    // background: 0 0;
    // font-size: 1em;
    // font-weight: 900;
    height: 720px;
    width: 520px;
}
img {
  width: 100%;
}
.slider__bullet:focus, .slider__bullet:hover {
    border: 2px solid #fff;
    background-color: hsla(0,0%,100%,.5);
}

.slider__bullets {
    position: absolute;
    z-index: 2;
    bottom: 1.5rem;
    left: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -25px;
}

.slider__bullet {
    background-color: hsla(0,0%,100%,.5);
    width: 9px;
    height: 9px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
    line-height: 0;
    -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,.1);
    box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,.1);
    margin: 0 .50em;
}

.slider__bullet[class*=active] {
    background-color: #fff;
}

.glide__slide {
    height: 700px;
    margin-top: 10px;
}

.glide__slide--active {
    height: 720px;
    margin-top: 0;
}

.carousel-image {
    width: 520px;
}
