// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bulma
@import './node_modules/bulma/bulma.sass';

html {
    scroll-behavior: smooth;
    background-color: $black;

    a {
        color: inherit;
        text-decoration: none;
    }
}

body > div:nth-child(even) {
    background-color: $grey;
    color: $white;

    .edit {
        background-color: $primary;
        
        .edit-icon{

            color: $grey;
        }
    }

    .title {
        color: $primary;
    }

    .label {
        color: $primary;
    }
}

body > div:nth-child(odd) {
    background-color: $black;
    color: $white;

    .title {
        color: $primary;
    }

    .label {
        color: $primary;
    }
}



.even {
    
}

.uneven {
    
}

.has-bg-img { 
    background: url('https://www.stylist.co.uk/images/app/uploads/2019/12/17162852/the-end-of-a-book-1268x845.jpeg?w=1640&amp;h=1&amp;fit=max&amp;auto=format%2Ccompress')center center; 
    background-size:cover;

    .notification {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .body {
        margin-top: 15%;

        .title {
            color: $white;
        }
        .subtitle {
            color: $white;
        } 
    }

      .foot {
        text-align: center;

        .icon {
            font-size: 50px;
            color: $yellow;
        } 
        .icon:hover {
            color: $grey;
            cursor: pointer;
        } 
    }
}

.image{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-wrap {
    text-align: center;

    .button {
        width: 48%;
        margin-bottom: 5px;
    }
}

.edit {
    right: 0;
    background-color: $grey;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 50px;
    height: 37px;
    position: absolute;
    margin-top: 20px;
    z-index: 1;

    .edit-text {
        // visibility: hidden;
        display: none;
        overflow: hidden;
        white-space: nowrap;
        font-size: 20px;
    }

    .edit-icon {
        font-size: 25px;
        color: $yellow;
    }
}
.edit:hover {
    background-color: $yellow;
    width: 120px;

    .edit-text {
        display: inline;
    }

    .edit-icon {
        color: $grey;
        cursor: pointer;
    } 
}

.login-container {
    margin: 0; 
    position: absolute; 
    top: 50%; left: 50%; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%); 
    width: 100%;

    .columns {
        width: 100%;
    }

    .panel {
        max-width: 520px;
        width: 90%;
        margin: 0 auto;

        .panel-block {
            background-color: $grey;
            
            .label {
                color: $black;
            }
        }
    }
}

.form-container {
    margin-top: 3em;

    .panel-block {
        background-color: $grey;

        .label {
            color: $black;
        }

        .columns {
            width: 100%;
        }
    }
}


@media (max-width: 768px)
{
    .button-wrap .button {
        width: 100%;
    }
}

@media only screen and (max-width: 1215px){
    .parent{
        padding: 70px !important;
        position: relative !important;
    }

    .element {
        padding: 20px !important;
        position: absolute !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
      }
}

.footer {
    background-color: $black;

    .icon {
        font-size: 20px;
        margin-right: 15px;
    }
    
    .icon:hover {
        color: $primary;
    }

    a {
        color: inherit;
    }
}

// Slick js carousel slider styling
.clip {
    height: 100px;
    overflow: hidden;
    bottom: 0;
}
.center .slick-slide {
    // background-color: rgba(red, 0.3);
    // height: 400px;
    margin: 0 auto;
}
.center .slick-center h3{
    .bottom {
        font-size: 90%;
        width: 90%;
    }
}