// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bulma
@import './node_modules/bulma/bulma.sass';

html {
    scroll-behavior: smooth;
    background-color: $black;

    a {
        color: inherit;
        text-decoration: none;
    }
}

body > div:nth-child(even) {
    background-color: $grey;
    color: $white;

    .edit {
        background-color: $primary;
        
        .edit-icon{

            color: $grey;
        }
    }

    .title {
        color: $primary;
    }

    .label {
        color: $primary;
    }
}

body > div:nth-child(odd) {
    background-color: $black;
    color: $white;

    .title {
        color: $primary;
    }

    .label {
        color: $primary;
    }
}

.has-bg-img { 
    background: url('/images/header.jpg')center left; 
    background-size:cover;

    .notification {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .body {
        margin-top: 15%;

        .title {
            color: $white;
        }
        .subtitle {
            color: $white;
        } 
    }

      .foot {
        text-align: center;

        .icon {
            font-size: 50px;
            color: $yellow;
        } 
        .icon:hover {
            color: $grey;
            cursor: pointer;
        } 
    }
}

.image{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-wrap {
    text-align: center;

    .button {
        width: 48%;
        margin-bottom: 5px;
    }
}

.edit {
    right: 0;
    background-color: $grey;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 50px;
    height: 37px;
    position: absolute;
    margin-top: 20px;
    z-index: 1;

    .edit-text {
        // visibility: hidden;
        display: none;
        overflow: hidden;
        white-space: nowrap;
        font-size: 20px;
    }

    .edit-icon {
        font-size: 25px;
        color: $yellow;
    }
}
.edit:hover {
    background-color: $yellow;
    width: 120px;

    .edit-text {
        display: inline;
    }

    .edit-icon {
        color: $grey;
        cursor: pointer;
    } 
}

.login-container {
    margin: 0; 
    position: absolute; 
    top: 50%; left: 50%; 
    -ms-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%); 
    width: 100%;

    .columns {
        width: 100%;
    }

    .panel {
        max-width: 520px;
        width: 90%;
        margin: 0 auto;

        .panel-block {
            background-color: $grey;
            
            .label {
                color: $lightgrey;
            }
        }
    }
}

.form-container {
    margin-top: 3em;

    .panel-block {
        background-color: $grey;

        .label {
            color: $lightgrey;
        }

        .columns {
            width: 100%;
        }
    }

    .button-box {
        background-color: $grey;
    }
}

.table-container {
    width: 100%;

    table {
        width: 100%;
        
        .table-checkbox {
            text-align: center;
        }
        .edit-icon {
            color: $primary;
        }
        .delete-icon {
            color: $red;
        }
    }
}

.info-box {
    width: 100%;
    color: $lightgrey;
}

@media (max-width: 768px)
{
    .button-wrap .button {
        width: 100%;
    }
}

@media only screen and (max-width: 1215px){
    .parent{
        padding: 70px !important;
        position: relative !important;
    }

    .element {
        padding: 20px !important;
        position: absolute !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
      }
}

.footer {
    background-color: $black;

    .icon {
        font-size: 20px;
        margin-right: 15px;
    }
    
    .icon:hover {
        color: $primary;
    }

    a {
        color: inherit;
    }
}

.slider {
    max-width: 500px;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: y none ;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  
  .slider > a {
    display: inline-flex;
    padding: 3px;
    background: $grey;
    color: $primary;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    margin: 0.5rem 0 0 0;
    position: relative;
  }
  .slider > a:active {
    top: 1px;
  }
  .slider > a:focus {
    background: #000;
  }
  
  .image-text {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $primary;
    font-size: 30px;
    width: fit-content;
    background-color: #585858;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
  }